{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/startquiz.css' %}">
</head>

<div class="container content mt-3">


    <div class="card mb-5 mt-5">
        <div class="card-body">



            <h2 class="mb-3">Add a new quiz</h2>
            <div class="row">
                <div class="col-md-6 col-sm-8 col-12">

                    <!--start Form-->

                    <form method="post" novalidate="">
                        <div class="card-body">

                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                The quiz was created with success! Go ahead and add some questions now.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>


                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">

                                    <li class="breadcrumb-item active" aria-current="page">Quiz name here from DB</li>
                                </ol>
                            </nav>

                            <div class="row mb-3">
                                <div class="col-md-6 col-sm-8 col-12">
                                    <form method="post" novalidate="">
                                        <input type="hidden" name="csrfmiddlewaretoken"
                                            value="NiuXVhSZbfT5TNwFO7SbfR0rxeA93O41hIalXtwGnkc7aAWFXRXIg2o3MxV3CQlM">


                                        <div id="div_id_name" class="form-group"> <label for="id_name"
                                                class="form-control-label  requiredField">
                                                Name<span class="asteriskField">*</span> </label>
                                            <div class=""> <input type="text" name="name" value="quiz name from DB"
                                                    maxlength="255" disabled hidden class="textinput textInput form-control" required=""
                                                    id="id_name"> </div>
                                        </div>
                                        <div id="div_id_subject" class="form-group"> <label for="id_subject"
                                                class="form-control-label  requiredField">
                                                Subject<span class="asteriskField">*</span> </label>
                                            <div class=""> <select name="subject" class="select form-control"
                                                    required="" id="id_subject">
                                                    <option value="">---------</option>
                                                    <option value="1" selected="">Math</option>
                                                    <option value="2">Computer science</option>
                                                    <option value="3">Art</option>
                                                    <option value="4">Biology</option>
                                                    <option value="5">History</option>

                                                </select> </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-10">
                                            <strong>Questions</strong>
                                        </div>

                                    </div>
                                </div>
                                <div class="list-group list-group-flush list-group-formset">

                                    <div class="list-group-item text-center">
                                        <p class="text-muted font-italic mb-0">You haven't created any questions yet. Go
                                            ahead and add the first question.</p>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-primary btn-sm">Add question</a>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-success mt-4 mb-4">Save changes</button>

                        </div>
                    </form>
                    <!--end Form-->


                </div>
            </div>

        </div>
    </div>
    <!-- end of row ms-1 -->

</div> <!-- end of container -->

<div style="color: white;">
    s
</div>

{% endblock %}