{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/startquiz.css' %}">
</head>

<div class="container content mt-3">
   

    <div class="card mb-5 mt-5">
        <div class="card-body">
          
          
    
    <h2 class="mb-3">Add a new quiz</h2>
    <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
    <form method="post">
    
    
    
    <div id="div_id_name" class="form-group mt-4 mb-4"> <label for="id_name" class="form-control-label  requiredField">
            Name<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="name" maxlength="255" class="textinput textInput form-control" required="" id="id_name"> </div> </div> <div id="div_id_subject" class="form-group"> <label for="id_subject" class="form-control-label  requiredField">
            Subject<span class="asteriskField">*</span> </label> <div class=""> <select name="subject" class="select form-control" required="" id="id_subject"> <option value="" selected="">---------</option> <option value="1">Math</option> <option value="2">Computer sceince </option> <option value="3">Art</option> <option value="4">Biology</option> <option value="5">History</option>
    
    </select> </div> </div>
    
    <button type="submit" class="btn btn-success mt-4 mb-4">Save</button>
    <a href="#" class="btn btn-outline-secondary" role="button">Cancel</a>
    </form>
    </div>
    </div>
    
        </div>
      </div>
<!-- end of row ms-1 -->

</div> <!-- end of container -->

<div style="color: white;">
    s
</div>

{% endblock  %}