
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/startquiz.css' %}">
</head>

<div class="container content mt-3">
   

    <div class="card mb-5 mt-5">
        <div class="card-body">
          
          
    
  
    <div class="row">
    <div class="col-md-6 col-sm-8 col-12">
    <h2>quiz name from DB</h2>
<!--start Form-->
<form method="post">

<div class="card">
    <div class="card-header">
      <strong>Taken Quizzes</strong>
      
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Date</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
    <div class="card-footer text-muted">
      Total respondents: <strong>0</strong>
    </div>
  </div>


</form>
<!--end Form-->


    </div>
    </div>
    
        </div>
      </div>
<!-- end of row ms-1 -->

</div> <!-- end of container -->

<div style="color: white;">
    s
</div>

{% endblock  %}