.ten-countdown {
    color: white;
    float: right;
}

.name{
    color: white;
    float: left;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.content{
    max-width: 80%;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black;
    text-align: left;
    border-radius: 5px;
}
.mg-top{
    margin-top: 50px;
}

.qustion{
    margin-top: 20px;
}

.border-b{
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    width: 90%;
}

.mg-lf{
    margin-left: 10px;
}

.submit-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mg{
    margin-bottom: 50px;
}

.btn-light{
    color: black
}

.btn-light:hover{
    color:black
}

