{% extends 'base.html' %}

{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        label{
            color: rgb(187, 160, 110);
        }
    </style>

</head>

<h2>Login</h2>
<div class="login">
<form method="post">
    {% csrf_token %}
    {% for field in login_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}

            
        </p>
    {% endfor %}
    {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
            
            {% if login_form.non_field_errors %}
                <div style="color: red;">
                    <p>{{ login_form.non_field_errors }}</p>
                </div>
            {% endif %}
            
    <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>

</form>


=======
</div>
<section style="background-color:#616161; height: 1px; margin-top: 792px;"></section>

</div>


{% endblock content %}