{% extends 'base.html' %}

{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<h2 style="    color: rgb(187, 160, 110); margin-left: 880px;
">Register</h2>
<div class="login"> 
<form method="post" class="fo">
    {% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>

</form>
</div>
<section style="background-color:#616161; height: 1px; margin-top: 474px;"></section>
{% endblock content %}