{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/updatequiz.css' %}">
</head>

<div class="container contai">
    
    <!-- button row-->
    <div class="row mt-1">
        <div class="col-12 col-md-6 col-xl-4 mx-auto text-center">
<br><br>
        </div>
      </div>
    <!-- end button row-->
    <div class="row grid mt-2 text-center mx-auto" >
        
     
        <!-- start of quiz -->
        
        
       


      


       
      <!-- end of quiz -->
     
      
      
      {% for myquiz in  ob %}
<!-- start of quiz -->
<div class="col-12  col-xs-6 col-md-4 col-xl-3 mt-2 manga" >
  <form method="POST" action="">
    <div class="card"  >
      
        <div class="card-body">
          
          <h5 class="card-title">Quiz Name: {{myquiz.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{myquiz.user}}</h6>
          <p class="card-text">  Number of questions: {{myquiz.number_of_question}}</p>
          <p class="card-text">  Duration: {{myquiz.time}} min</p>
          <p class="card-text">  Score To Pass: {{myquiz.score_to_pass}} % </p>
          <h6 class="card-subtitle mb-2  " id="easy">{{myquiz.difficulty}}</h6>
          <!-- <a href="#" class="card-link">Start Quiz</a> -->
        </div>
        
      </div>
      <div class="card-footer text-muted">
        <a type="button" class="btn btn-outline-success">Update</a>
        <a type="button" class="btn btn-outline-danger"  href="{% url 'delete_quiz' pk=myquiz.id%}"> delete </a>
        <a type="button" class="btn btn-outline-warning" href="" >Result</a>
        
        
    </div>
    </form>
</div>
<!-- end of quiz -->
{%endfor%}

    </div>  
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="{% static 'js/filter.js' %}"></script>

{% endblock  %}