{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/newquiz.css' %}">
</head>

<div class="container content mt-3">
    <form id="addQuizForm" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="">
        
        <div class="row borderr">
            <label for="">Quiz name</label>
            <input type="text" name="name" required placeholder="Calculas">
        </div>

        <div class="row borderr">
            <label for="">Time</label>
            <input type="number" min="1" name="time" required placeholder="20">
        </div>
        <div class="row borderr">
            <label for="">Score To Pass</label>
            <input type="number" min="5" step="5" name="passScore" required placeholder="60">
        </div>
        <div class="row borderr">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="ispublic" name="ispublic" value="public">
                <label class="form-check-label" for="inlineCheckbox1">Public</label>
            </div>

        </div>

        <div class="row borderr">
            <label for="">difficulty</label>
            <select name="difficulty" >
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        
       
        <!-- <div id="q0" class="row">
            <label for="">Quistion</label>
            <input type="text" name="q0" placeholder="1 + 1 ?">
            <label id="choice-1-1" for="">add choice</label>
            <button onclick="addChoice()" id="addch" type="button">Add Choice</button>
            <button onclick="deleteChoice()" id="delete" type="button">delete Choice</button>
        </div> -->

        <div id="add" class="row borderr">
            <label for="">add quistion</label>
            <select name="type" id="selectType">
                <option value="true">true or false</option>
                <option value="false">MCQ</option>
            </select>
            <button onclick="addQuestion()" class="btnn" id="addqu" type="button">Add Quistion</button>
        </div>
        <div id="submit" class="row">
            <button class="btnn" type="submit">Add Quiz</button>
        </div>
    </form>
</div>

<div style="color: white;">
    s
</div>


<script src="{% static 'js/addquistion.js' %}"></script>

{% endblock %}