{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container"  id="con1" style="background-color: #F5CB5C;">
<div class="row mt-2">
    <div class="col">
        <b>{{obj.name}}</b>
        <p>score to pass: {{obj.score_to_pass}}%</p>
    </div>
    <div class="col text-right" id="timer-box"></div>
</div>

<a href="{% url  'main-view' %}" class="btn btn-danger">leave quiz </a>

<form id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <button type="submit" class="btn btn-primary mt-3">save</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>

</div>


{% block scripts %}
    <script src="{% static 'js/startquiz.js' %} " defer></script>

{% endblock scripts %}

{% endblock  %}