{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/startquiz.css' %}">
</head>

<div class="container content mt-3">

  
  <div class="row">
    <div class="col-md-8 name">
      <h3>Quiz Name</h3>
    </div>
    <div class="col-md-4">
      <!-- <div class="ten-countdown" id="time"></div> -->
      <h3 class="ten-countdown" id="time"></h3>
    </div>
  </div>
    
    <div class="row ms-1">
        <div class="col-xs-12 qustion">
            <h6>1 + 1 ?</h6>
            <div class="row">
                <div class="col-xs-12 col-med-6 mg-lf">
                    
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio jkdkjsdjksd jksdjkjksdjksdjkjksd
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio jksdjksdjksdjkjksdjkjkdsjkjkdsjksd
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio sdsdjkjksdjkdsjkdjskjksdjksd
                        </label>
                      </div>
                </div>
            </div><!-- end of row -->  
        </div><!-- end of quistion -->
        <hr class="border-b">
        <div class="col-xs-12 qustion">
            <h6>1 + 2 ?</h6>
            <div class="row">
                <div class="col-xs-12 col-med-6 mg-lf">
                    
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Second default radio Second default radio  
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio Second default radio 
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Second default radio Second default radio  
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio 
                        </label>
                      </div>
                </div>
            </div><!-- end of row -->  
        </div><!-- end of quistion -->
        <hr class="border-b">
        <div class="col-xs-12 qustion">
            <h6>1 + 3 ?</h6>
            <div class="row">
                <div class="col-xs-12 col-med-6 mg-lf">
                    
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio jkdkjsdjksd jksdjkjksdjksdjkjksd
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio jksdjksdjksdjkjksdjkjkdsjkjkdsjksd
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio sdsdjkjksdjkdsjkdjskjksdjksd
                        </label>
                      </div>
                </div>
            </div><!-- end of row -->  
        </div><!-- end of quistion -->
        <hr class="border-b">
        <div class="col-xs-12 qustion">
            <button type="button" class="btn btn-light float-end">Submit</button>
        </div>
    </div><!-- end of row ms-1 -->

</div> <!-- end of container -->

<div style="color: white;">
    s
</div>

<script src="{% static 'js/countdown.js' %}"></script>
{% endblock  %}