{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/startquiz1.css' %}">
</head>








<div class="container"  id="con1">
<div class="row mt-2 pt-4">
    <div class="col"style="color:white;">
        <b>{{obj.name}}</b>
        <p>score to pass: {{obj.score_to_pass}}%</p>
    </div>
    <div class="col text-right" id="timer-box" style="color: red;"></div>
</div>

<a href="{% url  'main-view' %}" class="btn btn-danger">leave quiz </a>

<form id="quiz-form" class="mt-3 mb-3" style="color:white;">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <button type="submit" class="btn btn-primary mt-3">save</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>

</div>


{% block scripts %}
    <script src="{% static 'js/startquiz.js' %} " defer></script>

{% endblock scripts %}

{% endblock  %}